* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4 {
  font-weight: 400;
  color: rgb(100, 100, 100);
}

h2 {
  font-weight: 700;
}

body {
  font-family: 'Lato', sans-serif;
}

.App {
  transition: all .5s ease;
}

.library-active {
  margin-left: 20rem;
}

@media screen and (max-width: 768px) {
  .library-active {
    margin: 0;
  }
}

@import "song";
@import "player";
@import "library";
@import "librarySong";
@import "nav";